<%- include("./partials/header.ejs") %>
<div class="main px-10 py-5">
  <div class="shares flex gap-5">
    <a href="/hisaab/delete/<%= hisaab._id %>" class="text-white bg-red-600 rounded-md px-4 py-1"
      >Delete</a
    >
    <a href="/hisaab/edit/<%= hisaab._id %>" class="text-black bg-yellow-600 rounded-md px-4 py-1"
      >Edit</a
    >
  </div>
  <p class="opacity-60 font-[500] mt-4">
    Created on <%= hisaab.createdAt.getDate() %>-<%= hisaab.createdAt.getMonth()
    %>-<%= hisaab.createdAt.getFullYear() %>
  </p>
  <h1 class="text-2xl mt-5"><%= hisaab.title %></h1>
  <h1 class="mt-1"><%= hisaab.description %></h1>
</div>
<%- include("./partials/footer.ejs") %>
